.wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  height: 60px;
  cursor: pointer;
}

.wrapper:hover {
  box-shadow: 0 0 3px 2px rgb(153, 153, 153);
}

.todo-name {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 15px;
}