.app-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  padding-top: 10px;
  box-shadow: 0 0 15px 0px rgba(153,153,153,1);
  border-radius: 5px;
}

.icon {
  color: green;
  margin-right: 10px;
}

.title {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-indicator {
  background-color: green;
}

.tabs-root {
  border-bottom: 1px solid #efefef;
}

.tab-root:hover {
  color: green;
  opacity: 1;
}