.app-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  padding-top: 10px;
  box-shadow: 0 0 15px 0px rgba(153,153,153,1);
}

.icon {
  color: green;
  margin-right: 10px;
}

.title {
  margin-bottom: 15px;
  text-align: center;
}